@charset "UTF-8";
html {
  font-family: "Hiragino Sans", "Meiryo", sans-serif;
  color: #333;
}
@media screen and (max-width: 599px) {
  html {
    font-size: 0.95rem;
  }
}
html > body {
  margin: 0;
  background-color: #FFF;
}
html > body > footer {
  border-top: 1px solid #8D6E63;
  background-color: #D7CCC8;
  padding: 0;
}

body {
  display: grid;
  gap: 0.5rem;
}
@media screen and (min-width: 600px) {
  body {
    grid-template-areas: "header header header" ".      main   .     " "footer footer footer";
    grid-template-columns: 1fr minmax(200px, 1000px) 1fr;
  }
}
@media screen and (max-width: 599px) {
  body {
    grid-template-areas: "header" "main" "footer";
  }
}
body > header {
  grid-area: header;
}
body > main {
  grid-area: main;
}
body > footer {
  grid-area: footer;
}
body header > hgroup,
body header > nav > ul,
body footer > * {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 600px) {
  body header > hgroup,
  body header > nav > ul,
  body footer > * {
    width: 1000px;
  }
}

.material-symbols-outlined {
  vertical-align: middle;
}
@media screen and (max-width: 599px) {
  .material-symbols-outlined {
    font-size: 22.8px;
  }
}

.category > a,
.tag > a {
  text-decoration: none;
  border: solid 1px #D7CCC8;
  /* display: inline-flex */
  vertical-align: middle;
  padding: 4px 6px 4px 4px;
  border-radius: 4px;
}

.category > a {
  color: #333;
  background-color: #FFB74D;
}

.tag > a {
  color: #1565C0;
}

body > header > hgroup {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0 0.5rem;
}
body > header > hgroup > * {
  margin: 0;
  color: #8D6E63;
}
body > header > hgroup a {
  padding: 0.5rem;
  display: block;
  color: #333;
  text-decoration: none;
  color: #8D6E63;
}
body > header > nav {
  border-top: 1px solid #8D6E63;
  border-bottom: 1px solid #8D6E63;
  background-color: #D7CCC8;
}
@media screen and (max-width: 599px) {
  body > header > nav {
    width: 100vw;
    position: relative;
  }
  body > header > nav > ul {
    overflow-x: scroll;
    white-space: nowrap;
  }
  body > header > nav::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 4rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #D7CCC8 100%);
  }
  body > header > nav > ul > li > span.spacer {
    display: block;
    width: 4rem;
  }
}
body > header > nav > ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  /* flex-wrap: wrap */
  /* align-items: center */
  gap: 0 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
body > header > nav > ul a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem;
  display: inline-flex;
}
body > main > header {
  padding: 0;
}
@media screen and (max-width: 599px) {
  body > main > header {
    max-width: 100vw;
    position: relative;
  }
  body > main > header > ol {
    overflow-x: scroll;
    white-space: nowrap;
  }
  body > main > header::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 4rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #FFF 100%);
  }
  body > main > header > ol > li > span.spacer {
    display: block;
    width: 4rem;
  }
}
body > main > header > ol {
  padding: 0;
  list-style-type: none;
  display: flex;
  margin: 0;
}
body > main > header > ol > li:not(:first-child):not(:last-child)::before {
  content: ">";
  color: #8D6E63;
}
body > main > header > ol > li {
  display: inline-flex;
  align-items: center;
}
body > main > header > ol > li > a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem;
  display: inline-flex;
}
body > main > header > h1 {
  padding-left: 0.5rem;
}
body > main > :not(header):not(header + article) {
  margin-top: 0.5rem;
}
body > main > nav > ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 0;
}
body > main > nav > ul > li {
  border: 1px solid #8D6E63;
}
body > main > nav > ul > li > a,
body > main > nav > ul > li > span {
  display: block;
  padding: 0.5rem 1rem;
}
body > main > nav > ul > li > a {
  color: #333;
  text-decoration: none;
}
body > main > nav > ul > li > span {
  color: #D7CCC8;
}
body > main > nav > ul > li:not(:first-child) {
  margin-left: -1px;
}
body > main > nav > ul > li.active {
  background-color: #8D6E63;
}
body > footer > h1 {
  font-size: 1.3rem;
  font-weight: normal;
}

@media screen and (min-width: 600px) {
  article > header > div,
  main > header > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
article > header > div > ul,
main > header > div > ul {
  padding: 0;
  margin: 0;
  line-height: 2.4;
}
article > header > div > ul > li,
main > header > div > ul > li {
  display: inline;
}
article > header > div > time,
main > header > div > time {
  font-size: 1.3rem;
}
article > header > h1,
main > header > h1 {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
article > header > h1 > a,
main > header > h1 > a {
  color: #333;
  text-decoration: none;
}
article > header > h1 > span.material-symbols-outlined,
main > header > h1 > span.material-symbols-outlined {
  color: #BBB;
  cursor: pointer;
}
article > header > h1 > span.material-symbols-outlined.copy_complete::before,
main > header > h1 > span.material-symbols-outlined.copy_complete::before {
  font-size: 0.85em;
  content: "✅";
  position: absolute;
  opacity: 0;
  animation: copy_complete 1s linear 0.1s 1;
}

@keyframes copy_complete {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
article {
  padding: 0 0.5rem 2rem 0.5rem;
  line-break: anywhere;
}
article:not(:last-child) {
  border-bottom: dashed 4px #D7CCC8;
}
article > :is(h1, h2, h3) {
  margin-left: -0.5rem;
}
article > :is(h1, h2, h3, h4) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
article > h1 {
  font-size: 1.3rem;
  padding: 0.5rem;
  border-top: solid 3px #8D6E63;
  border-bottom: solid 3px #8D6E63;
  background-image: radial-gradient(#D7CCC8 1px, transparent 1px), radial-gradient(#D7CCC8 1px, transparent 1px);
  background-size: 8px 8px;
  background-position: 0 0, 4px 4px;
}
article > h2 {
  font-size: 1.15rem;
  border-bottom: solid 2px #8D6E63;
  padding: 0 0.5rem;
}
article > h3 {
  font-size: 1rem;
  border-left: solid 5px #8D6E63;
  padding-left: 8px;
}
article > p img {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  article > p img {
    max-width: calc(1000px - 4rem);
  }
}
@media screen and (max-width: 599px) {
  article > p img {
    max-width: 100%;
  }
}
article ul,
article ol {
  padding-left: 20px;
}
@media screen and (max-width: 599px) {
  article > .youtube {
    position: relative;
    padding-bottom: 56.25%;
    margin: 1rem 0;
  }
}
@media screen and (min-width: 600px) {
  article > .youtube > iframe {
    display: block;
    margin: 1rem auto;
  }
}
@media screen and (max-width: 599px) {
  article > .youtube > iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 599px) {
  article > div.table_wrapper {
    max-width: calc(100vw - 16px);
    overflow-x: scroll;
  }
}
article > div.table_wrapper > table {
  margin: 1rem auto;
  border-collapse: collapse;
  font-size: 1rem;
}
article > div.table_wrapper > table th, article > div.table_wrapper > table td {
  border: solid 1px #D7CCC8;
  padding: 3px;
}
article > div.table_wrapper > table th:first-child, article > div.table_wrapper > table td:first-child {
  white-space: nowrap;
}
article :not(pre) > code {
  background-color: #DDD;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}
article > div.highlight > pre {
  white-space: pre-wrap;
}
article span.summary-end-suffix {
  color: #BBB;
}

section.posts {
  padding: 0 0.5rem 1rem 0.5rem;
}
section.posts > h1 {
  margin: 0;
}
@media screen and (max-width: 599px) {
  section.posts > h1 {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 600px) {
  section.posts > h1 {
    font-size: 2rem;
    float: left;
    clear: left;
  }
}
section.posts > div {
  display: flex;
  justify-content: space-between;
  border-bottom: dotted 1px black;
  padding: 3px;
}
@media screen and (min-width: 600px) {
  section.posts > div {
    margin-left: 6rem;
  }
}
section.posts > div > a {
  text-decoration: none;
  color: darkblue;
}

ul.categories,
ul.tags {
  padding-left: 0.5rem;
}
ul.categories > li,
ul.tags > li {
  margin-bottom: 0.5rem;
  list-style-type: none;
}/*# sourceMappingURL=main.css.map */