body {
  margin: 0;
  background-color: #FFF;
  font-family: "Hiragino Sans", "Meiryo", sans-serif;
  color: #333;
}
body > footer {
  border-top: 1px solid #8D6E63;
  background-color: #D7CCC8;
  padding: 1rem;
}

body {
  display: grid;
  gap: 0.5rem;
}
@media screen and (min-width: 600px) {
  body {
    grid-template-areas: "header header header" ".      main   .     " "footer footer footer";
    grid-template-columns: 1fr minmax(200px, 1000px) 1fr;
  }
}
@media screen and (max-width: 599px) {
  body {
    grid-template-areas: "header" "main" "footer";
  }
}
body > header {
  grid-area: header;
}
body > main {
  grid-area: main;
}
body > footer {
  grid-area: footer;
}
body header > hgroup,
body header > nav > ul,
body footer > * {
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  body header > hgroup,
  body header > nav > ul,
  body footer > * {
    width: 1000px;
  }
}

.material-symbols-outlined {
  vertical-align: middle;
}

.category > a,
.tag > a {
  text-decoration: none;
  border: solid 1px #D7CCC8;
  display: inline-flex;
  vertical-align: middle;
  padding: 2px 5px 2px 2px;
  border-radius: 4px;
}

.category > a {
  color: #333;
  background-color: #FFB74D;
}

.tag > a {
  color: #1565C0;
}

body > header > hgroup {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0 0.5rem;
}
body > header > hgroup > * {
  margin: 0;
}
body > header > hgroup a {
  padding: 0.5rem;
  display: block;
  color: darkblue;
  text-decoration: none;
  border: solid 1px gray;
}
body > header > nav {
  margin-top: 0.5rem;
  border-top: 1px solid #8D6E63;
  border-bottom: 1px solid #8D6E63;
  background-color: #D7CCC8;
}
body > header > nav > ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center */
  gap: 0 0.5rem;
}
body > header > nav > ul a {
  color: darkblue;
  text-decoration: none;
  border: solid 1px gray;
  padding: 0.5rem;
  display: inline-flex;
}
body > main > header {
  padding: 0 0.5rem;
}
body > main > header > ol {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center */
  gap: 0 0.5rem;
  margin: 0;
}
body > main > header > ol > li:not(:first-child)::before {
  content: ">";
  margin-right: 4px;
}
body > main > header > ol > li {
  display: inline-flex;
  align-items: center;
}
body > main > header > ol > li > a {
  color: darkblue;
  text-decoration: none;
  border: solid 1px gray;
  padding: 0.5rem;
  display: inline-flex;
}
body > main > :not(header) {
  margin-top: 0.5rem;
}

@media screen and (min-width: 600px) {
  article > header > div,
  main > header > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
article > header > div > ul,
main > header > div > ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center */
  gap: 0 0.5rem;
  margin: 0;
}
article > header > div > time,
main > header > div > time {
  font-size: 1.3rem;
}
article > header > h1,
main > header > h1 {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
article > header > h1 > a,
main > header > h1 > a {
  color: #333;
  text-decoration: none;
}

article {
  padding: 0 0.5rem 2rem 0.5rem;
}
article:not(:last-child) {
  border-bottom: dashed 4px #D7CCC8;
}
article > :is(h1, h2, h3) {
  margin-left: -0.5rem;
}
article > :is(h1, h2, h3, h4) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
article > h1 {
  font-size: 1.3rem;
  padding: 0.5rem;
  border-top: solid 3px #8D6E63;
  border-bottom: solid 3px #8D6E63;
  background-image: radial-gradient(#D7CCC8 1px, transparent 1px), radial-gradient(#D7CCC8 1px, transparent 1px);
  background-size: 8px 8px;
  background-position: 0 0, 4px 4px;
}
article > h2 {
  font-size: 1.15rem;
  border-bottom: solid 2px #8D6E63;
  padding: 0 0.5rem;
}
article > h3 {
  font-size: 1rem;
  border-left: solid 5px #8D6E63;
  padding-left: 8px;
}
@media screen and (max-width: 599px) {
  article > p {
    font-size: 0.95rem;
  }
}
article > p > img {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  article > p > img {
    width: 100%;
  }
}
article > ul ul {
  padding-left: 20px;
}
@media screen and (max-width: 599px) {
  article > .youtube {
    position: relative;
    padding-bottom: 56.25%;
    margin: 1rem 0;
  }
}
@media screen and (min-width: 600px) {
  article > .youtube > iframe {
    display: block;
    margin: 1rem auto;
  }
}
@media screen and (max-width: 599px) {
  article > .youtube > iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
article > table {
  margin: 1rem auto;
  border-collapse: collapse;
  font-size: 1rem;
}
article > table th, article > table td {
  border: solid 1px #D7CCC8;
}
article > table th:first-child, article > table td:first-child {
  white-space: nowrap;
}

section.posts {
  padding: 0 0.5rem 1rem 0.5rem;
}
section.posts > h1 {
  margin: 0;
}
@media screen and (max-width: 599px) {
  section.posts > h1 {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 600px) {
  section.posts > h1 {
    font-size: 2rem;
    float: left;
    clear: left;
  }
}
section.posts > div {
  display: flex;
  justify-content: space-between;
  border-bottom: dotted 1px black;
  padding: 3px;
}
@media screen and (min-width: 600px) {
  section.posts > div {
    margin-left: 6rem;
  }
}
section.posts > div > a {
  text-decoration: none;
  color: darkblue;
}

ul.categories,
ul.tags {
  padding-left: 0.5rem;
}
ul.categories > li,
ul.tags > li {
  margin-bottom: 0.5rem;
  list-style-type: none;
}/*# sourceMappingURL=main.css.map */