@charset "utf-8";

/* あとで reset.css に行く */

/* メイン */

/* **************** *
 * フォント
 * **************** */

body {
    font-size: 0.95em;
    font-family: "Hiragino Sans", "Meiryo", sans-serif;
}


/* **************** *
 * 色
 * **************** */
html {
    --main-color: #8D6E63; /* brown 400 */
    --main-color-deco: #D7CCC8; /* brown 100 */
    --text-color-main: #333;
    /*--background-color-base: #DDD; */
    --background-color-main: #FFF;
    --caterogy-color: #FFB74D; /* orange 300 */
    --tag-color: #FFE0B2; /* orange 100 */
}

body {
    color: var(--text-color-main);
    background-color: var(--background-color-main);
}

/* **************** *
 * レイアウト
 * **************** */

html {
    --content-min-width: 180px;
    --content-max-width: 1000px;
}

body {
    margin: 0px;
    display: grid;
    gap: 10px;
    
}

@media screen and (max-width: 599px) {
    body {
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }

    article img {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    body {
        grid-template-areas: 
            "header header header"
            ".      main   .     "
            "footer footer footer";
        grid-template-columns: 1fr minmax(var(--content-min-width), var(--content-max-width)) 1fr;
    }
}

body > header {
    grid-area: header;
}

body > main {
    grid-area: main;
}


body > footer {
    grid-area: footer;
    background-color: var(--background-color-main);
}


/* **************** *
 * flex-wrap で回り込ませる
 * **************** */
ul.menu,
article > header > ul,
hgroup.title-logo,
ol.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0px 5px;
}


/* **************** *
 * Web アイコン
 * **************** */
span.material-icons {
    display: inline-flex;
    vertical-align: middle;
    font-size: 1.5em;
}


/* **************** *
 * リスト系共通
 * **************** */
ol.breadcrumbs,
ul.taxonomies-inline,
ul.taxonomies-box {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* リンクのリスト */
:is(.menu, .title-logo, .breadcrumbs, .taxonomies-box) a {
    text-decoration: none;
    border: solid 1px gray;
    display: inline-block;

    color: darkblue;
}

.taxonomies-inline a {
    text-decoration: none;
    color: var(--text-color-main);
    border: solid 1px var(--main-color-deco);

}


/* **************** *
 * パンくずリスト
 * **************** */
ol.breadcrumbs > li:not(:first-child)::before {
    content: ">";
    padding-right: 5px;
}

ol.breadcrumbs > li > a {
    padding: 5px;
}


/* **************** *
 * 分類一覧系
 * **************** */
ul.taxonomies-box > li:not(:last-child) {
    margin-bottom: 1px;
}

ul.taxonomies-inline > li {
    display: inline;
}


ul.taxonomies-inline > li > a {
    padding: 2px 5px 2px 2px;
    border-radius: 4px;
}

li.categories > a {
    background-color: var(--caterogy-color);
}

li.tags > a {
    background-color: var(--tag-color);
}


/* **************** *
 * ヘッダー部
 * **************** */
body > header a {
    padding: 10px;
}

body > header > hgroup {
    margin: 0 auto;
}

body > header > nav > ul {
    margin: 0 auto;

    padding: 0;
    list-style-type: none;
}

@media screen and (min-width: 600px) {
    body > header > hgroup {
        width: var(--content-max-width);
    }

    body > header > nav > ul {
        width: var(--content-max-width);
    }
}


body > header > hgroup > * {
    margin: 0;
}

body > header > nav {
    margin-top: 5px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    background-color: var(--main-color-deco);
}



/* **************** *
 * メイン部
 * **************** */


/* **************** *
 * 記事群・記事 共通部分
 * **************** */
main header > h1 {
    font-size: 1.3rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

main header > h1 > a {
    color: var(--text-color-main);
    text-decoration: none;
}

main > header {
    padding: 5px 5px 0px 5px;
    background-color: var(--background-color-main);
}

/* **************** *
 * 記事群
 * **************** */
main > article {
    padding: 16px 5px 32px 5px;
    background-color: var(--background-color-main);
}

main > article:not(:last-child) {
    border-bottom: dashed 4px var(--main-color-deco);
}


/* **************** *
 * 記事
 * **************** */
article > header time {
    font-size: 1.15rem;
}

article > h1 {
    font-size: 1.3rem;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-top:    solid 3px var(--main-color);
    border-bottom: solid 3px var(--main-color);

    background-image: radial-gradient(var(--main-color-deco) 1px, transparent 1px), radial-gradient(var(--main-color-deco) 1px, transparent 1px);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
}

article > h2 {
    font-size: 1.15rem;

    border-bottom: solid 2px var(--main-color);
    padding-left: 5px;
}

article > h3 {
    font-size: 1rem;

    border-left: solid 5px var(--main-color);
    padding-left: 9px;
}

article > h4 {

}


/* **************** *
 * 個別ページ: 記事一覧
 * **************** */
main.archives > h1 {
    float: left;
    clear: left;
    margin: 0;
}

main.archives > div {
    display: flex;
    justify-content: space-between;
    margin-left: 96px;
    border-bottom: dotted 1px black;
    padding: 3px;
}

main.archives > div.last-per-year {
    margin-bottom: 1rem;
}

main.archives a {
    text-decoration: none;
    display: inline-block;

    color: darkblue;
}

/* **************** *
 * フッター部
 * **************** */
body > footer {
    border-top: 1px solid var(--main-color);
    padding: 16px;

    background-color: var(--main-color-deco);
}

body > footer > * {
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    body > footer > * {
        width: var(--content-max-width);
    }
}